<% layout('layouts/boilerplate')%>
<style>
    #thank{
        color:rgb(165, 100, 100);
        font-size: 40px;
        text-shadow: 1px;
        border: solid 5px rgb(86, 68, 68);
        border-radius: 5%;
    }
</style>
<h3> About Page </h3>
<p style="margin-top: 5rem;"> 
    Step 1. TASK: Build an inventory tracking web application for a logistics company. We are looking for a web application that meets the requirements listed below, along with one additional feature, with the options also listed below. 
</p>
<p style="margin-top: 2rem;">
    You can tackle this challenge using any technology you want. This is an open-ended task, but we want to focus on high quality back-end code. Custom UIs and interactive frameworks like React are not necessary. Ideally, the web application can run within 15 minutes.
</p>
<p style="margin-top: 2rem;">
    Step 2: Run the app on Replit. Now that you have built your code in GitHub, you will import the project to replit where you will run the application
</p>
<p style="margin-top: 2rem; margin-bottom: 32rem;"> 
    The CRUD web makes for Shopify Fall Intern Application
</p>